<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Connection required</key>
	<string>Tap to refresh</string>
	<key>This will be fixed by Friday, May 16</key>
	<string>Forms will not refresh</string>
</dict>
</plist>
