<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Connection required</key>
	<string>Tap to refresh</string>
	<key>DO NOT CHANGE THE KEY AND STRING ABOVE. Begin editing here. This is a subtitle.</key>
	<string>This is a main title. KEEP THIS BRIEF (<30 chars), as there is no way to view more than what appears in the bug table view cell</string>
</dict>
</plist>
