<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Academic Search Premier</string>
	<string>African-Amer. History Online</string>
	<string>American History Online</string>
	<string>American Indian History Online</string>
	<string>Amer. Women&apos;s History Online</string>
	<string>Ancient and Medievel History</string>
	<string>AP News/Monitor Collection </string>
	<string>ARTStore</string>
	<string>Biography Collection Complete</string>
	<string>Biography in Context</string>
	<string>Bloom&apos;s Literary Reference</string>
	<string>Business Source Elite</string>
	<string>Curriculum Resource Center</string>
	<string>Custom Newspapers</string>
	<string>E Book Library</string>
	<string>E Book Library -EBSCO</string>
	<string>E Book Library HS Collection</string>
	<string>E Book Shelf -Follett</string>
	<string>ERIC</string>
	<string>Ferguson&apos;s Career Guidance</string>
	<string>Funk &amp; Wagnell&apos;s New World</string>
	<string>Gale Virtual Ref. Library</string>
	<string>Green FILE</string>
	<string>Grolier</string>
	<string>Teacher Ref. Center</string>
	<string>Web News</string>
	<string>Health Reference Center</string>
	<string>Health Source</string>
	<string>High School Magazine</string>
	<string>Info. Science &amp; Tech</string>
	<string>Informe Academico</string>
	<string>JSTOR</string>
	<string>Library Reference Center</string>
	<string>Master File Elite</string>
	<string>Middle Search Plus</string>
	<string>Modern World History Online</string>
	<string>Newspaper Source Plus</string>
	<string>Noodle Tools</string>
	<string>Oxford English Dictionary</string>
	<string>Points of View</string>
	<string>Primary Search</string>
	<string>Referencia Latina</string>
	<string>Regional Business News</string>
	<string>Science Online</string>
	<string>Student Research Center</string>
	<string>Student Resources in Context</string>
	<string>US History in Context</string>
	<string>World Geography and Culture</string>
	<string>World History in Context</string>
</array>
</plist>
